# Project exclude paths
/.gradle/
/Phone Book/task/build/
/Phone Book/task/out/
/Phone Book/task/out/production/classes/
/Topics/Conditional statement/Chocolate/out/
/Topics/Conditional statement/Chocolate/out/production/classes/
/Topics/Declaring a method/The sign of a number/out/
/Topics/Declaring a method/The sign of a number/out/production/classes/
/Topics/Declaring a method/Vowel or not/out/
/Topics/Declaring a method/Vowel or not/out/production/classes/
/Topics/Floating-point types/Area of a circle/out/
/Topics/Floating-point types/Area of a circle/out/production/classes/
/Topics/Floating-point types/Celsius to Fahrenheit/out/
/Topics/Floating-point types/Celsius to Fahrenheit/out/production/classes/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Floating-point types/Distance/out/
/Topics/Floating-point types/Distance/out/production/classes/
/Topics/Floating-point types/Evaluate an expression/out/
/Topics/Floating-point types/Evaluate an expression/out/production/classes/
/Topics/Floating-point types/Exponential expression/out/
/Topics/Floating-point types/Exponential expression/out/production/classes/
/Topics/Floating-point types/Find X/out/
/Topics/Floating-point types/Find X/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/Instant/Min and max Instant units/out/
/Topics/Instant/Min and max Instant units/out/production/classes/
/Topics/Instant/Print the correct Instant unit/out/
/Topics/Instant/Print the correct Instant unit/out/production/classes/
/Topics/Instant/The Instant to a long/out/
/Topics/Instant/The Instant to a long/out/production/classes/
/Topics/Instant/Theory/out/
/Topics/Instant/Theory/out/production/classes/
/Topics/LocalDate/2 weeks after/out/
/Topics/LocalDate/2 weeks after/out/production/classes/
/Topics/LocalDate/10 days before/out/
/Topics/LocalDate/10 days before/out/production/classes/
/Topics/LocalDate/30 years before and after/out/
/Topics/LocalDate/30 years before and after/out/production/classes/
/Topics/LocalDate/Convert numbers to days/out/
/Topics/LocalDate/Convert numbers to days/out/production/classes/
/Topics/LocalDate/Find all mondays/out/
/Topics/LocalDate/Find all mondays/out/production/classes/
/Topics/LocalDate/Getting information on a day/out/
/Topics/LocalDate/Getting information on a day/out/production/classes/
/Topics/LocalDate/Print dates of a year with an offset/out/
/Topics/LocalDate/Print dates of a year with an offset/out/production/classes/
/Topics/LocalDate/The first and the last day of a month/out/
/Topics/LocalDate/The first and the last day of a month/out/production/classes/
/Topics/LocalDate/The first day of a month or not/out/
/Topics/LocalDate/The first day of a month or not/out/production/classes/
/Topics/LocalDate/The last day of a month/out/
/Topics/LocalDate/The last day of a month/out/production/classes/
/Topics/LocalDate/The n-th day from the end of a month/out/
/Topics/LocalDate/The n-th day from the end of a month/out/production/classes/
/Topics/LocalDateTime/Add days and subtract hours/out/
/Topics/LocalDateTime/Add days and subtract hours/out/production/classes/
/Topics/LocalDateTime/Add 11 hours and print the date/out/
/Topics/LocalDateTime/Add 11 hours and print the date/out/production/classes/
/Topics/LocalDateTime/Adding N minutes/out/
/Topics/LocalDateTime/Adding N minutes/out/production/classes/
/Topics/LocalDateTime/Merging date-time instances/out/
/Topics/LocalDateTime/Merging date-time instances/out/production/classes/
/Topics/LocalDateTime/Subtracting hours and adding minutes/out/
/Topics/LocalDateTime/Subtracting hours and adding minutes/out/production/classes/
/Topics/LocalDateTime/The passed hours since the beginning of year/out/
/Topics/LocalDateTime/The passed hours since the beginning of year/out/production/classes/
/Topics/LocalDateTime/Theory/out/
/Topics/LocalDateTime/Theory/out/production/classes/
/Topics/LocalDateTime/Whole hours between two date-time pairs/out/
/Topics/LocalDateTime/Whole hours between two date-time pairs/out/production/classes/
/Topics/LocalTime/Return time without seconds/out/
/Topics/LocalTime/Return time without seconds/out/production/classes/
/Topics/LocalTime/Seconds between two time points/out/
/Topics/LocalTime/Seconds between two time points/out/production/classes/
/Topics/LocalTime/Seconds since start of a day/out/
/Topics/LocalTime/Seconds since start of a day/out/production/classes/
/Topics/LocalTime/Some hours and minutes ago/out/
/Topics/LocalTime/Some hours and minutes ago/out/production/classes/
/Topics/Math library/Heron's formula/out/
/Topics/Math library/Heron's formula/out/production/classes/
/Topics/Math library/Pow/out/
/Topics/Math library/Pow/out/production/classes/
/Topics/Math library/Quadratic equation/out/
/Topics/Math library/Quadratic equation/out/production/classes/
/Topics/Math library/The angle between vectors/out/
/Topics/Math library/The angle between vectors/out/production/classes/
/Topics/Math library/Theory/out/
/Topics/Math library/Theory/out/production/classes/